.slider {
    position: relative;
    overflow: hidden;
    max-width: 500px;
    margin-top:400px;
    margin-left: 50%;
    margin-right: auto;
  }
  .slider__wrapper {
    position: relative;
    overflow: hidden;
    background-color: #eee;
  }
  .slider__items {
    display: flex;
    transition: transform 0.5s ease;
  }
  .transition-none {
    transition: none;
  }
  .slider__item {
    flex: 0 0 100%;
    max-width: 100%;
    position: relative;
  }
  .slider__item h4 {
    display:flex;
    align-items: center;
    justify-content: center;
    color: #002366;
    font-style: italic;
    font-size: 32px;
    font-weight: bold;
    margin-top:0;
    padding-bottom: 30px;
  }
  .slider__item h3 {
    display:flex;
    align-items: center;
    justify-content: center;
    color: #002366;
    font-style: italic;
    font-size: 32px;
    font-weight: bold;
    margin-top:0;
  }
  .slider__item p {
    display:flex;
    align-items: center;
    justify-content: center;
    color: #002366;
    font-style: italic;
    font-size: 22px;
    font-weight: bold;
    margin-top:0;
  }
  
  .slider__item span p {
    display:flex;
    align-items: center;
    justify-content: center;
    color: #002366;
    font-style: italic;
    font-size: 19px;
    font-weight: bold;
    margin-top: 41px;
  }
  .slider__item img{
    width: 100px;
   height: 100px;
      display:flex;
  margin-top:0;
  margin-left:0;
}

.slider__control {
    position: absolute;
    top: 50%;
    width: 40px;
    height: 50px;
    transform: translateY(-50%);
    display: none;
    align-items: center;
    justify-content: center;
    color: #201b1b;
    background: rgb(30 14 163 / 93%);
    opacity: 0.5;
    user-select: none;
  }
  .slider__control_show {
    display: flex;
  }
  .slider__control:focus, .slider__control:hover {
    color: #fff;
    text-decoration: none;
    opacity: 0.7;
  }
  .slider__control_prev {
    left: 0;
  }
  .slider__control_next {
    right: 0;
  }
  .slider__control::before {
    content: '';
    display: inline-block;
    width: 20px;
    height: 20px;
    background: transparent no-repeat center center;
    background-size: 100% 100%;
  }
  .slider__control_prev::before {
    background-image: url("../img/left.png");
  }
  .slider__control_next::before {
    background-image: url("../img/right.png");
  }
  .slider__indicators {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 10px;
    display: flex;
    justify-content: center;
    padding-left: 0;
    margin: 0 15%;
    list-style: none;
    user-select: none;
  }
  .slider__indicator {
    flex: 0 1 auto;
    width: 30px;
    height: 4px;
    margin-right: 3px;
    margin-left: 3px;
    background-color: rgb(2 37 103);
    background-clip: padding-box;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    cursor: pointer;
  }
  .slider__indicator_active {
    background-color: #ed1515;
  }

  @media (max-width:1280px){
    .slider {
        width: 350px;
        height:200px;
        margin-top:420px;
        margin-left: 55%;
    }
        .slider__item h4 {
        font-size: 28px;
        padding-bottom: 10px;
    }
    .slider__item p {
        font-size: 18px;
        margin-top:0;
        margin-left:-10px;
    }
        .slider__item span p {

        font-size: 14px;
        margin-left:10px;
        margin-top: 21px;
    }
    .slider__item img{
        width:80px;
        height: 80px;
            display:flex;
        margin-top:0;
        margin-left:0;
    }
    .slider__item h3{
        font-size: 24px;
        
    }
  }
    @media (max-width:1080px){
    .slider {
        width: 350px;
        height:200px;
        margin-top:320px;
        margin-left: 55%;
    }
  }

@media (max-width: 991px){
    .slider {
        width: 350px;
        height:200px;
        margin-top:220px;
        margin-left: 50%;
        
    }
    .slider__control {
      background: none;
      top: 50%;
  }
  .slider__control_prev {
      left: -10px;
    }
    .slider__control_next {
      right: -10px;
    }
    .slider__item h4 {
      font-size: 24px;
      padding-bottom: 30px;
      
  }
  .slider__item p {
      font-size: 17px;
      margin-top:0;
      margin-left:0;
  }
    .slider__item span p {

        font-size: 14px;
        margin-left:10px;
        margin-top: 41px;
    }
    .slider__item img{
        width:80px;
        height: 80px;
            display:flex;
        margin-top:10px;
        margin-left:0;
    }
    .slider__item h3{
        font-size: 24px;
        
    }
}
@media (max-width: 736px){
    .slider {
      width: 300px;
      height:200px;
      margin-top:190px;
      margin-left: 50%;
      
  }
  .slider__control {
    background: none;
    top: 50%;
    width: 50px;
    height: 50px;

}
.slider__control_prev {
    left: -14px;
  }
  .slider__control_next {
    right: -14px;
  }
      .slider__item p {
      font-size: 15px;
  
  }
      .slider__item span p {
      font-size: 13px;
      margin-top: 25px;
  }
}
@media (max-width: 640px){
.slider {
    width: 280px;
    height:140px;
    margin-top:140px;
    margin-left: 45%;
    
}
.slider__item h4 {
  font-size: 25px;
  padding-bottom: 10px;
  
}
.slider__item p {
  font-size: 15px;
  margin-top:0;
  margin-left:0;
}
.slider__item span p {
    font-size: 11px;
    margin-top: -36px;
}
.slider__control {
    background: none;
    top: 60%;
    width: 50px;
    height: 50px;

}
.slider__control_prev {
    left: -14px;
  }
  .slider__control_next {
    right: -14px;
  }
  .slider__item h3{
    font-size: 17px;
    margin-top:-40px;
    
}

.slider__item img{
width:60px;
height: 60px;
margin-top:10px;
  
}
}
@media (max-width: 520px){
  .slider {
      width: 250px;
      height:140px;
      margin-top:140px;
      margin-left: 43%;
  }
  .slider__item p {
      font-size: 12px;
      margin-top:0;
      margin-left:0;
  }
  .slider__item span p {
  font-size: 11px;
  margin-top: -36px;
}
.slider__item img{
width:50px;
height: 50px;
margin-top:10px;
}
}
@media (max-width: 450px){
.slider {
  width: 200px;
  height:110px;
  margin-top:170px;
  margin-left: 45%;
}
.slider__item p {
  font-size: 11px;
  margin-top:0;
  margin-left:0;
  
}
.slider__item h3{
  font-size: 14px;
  margin-top:-60px;
}
.slider__item h4{
  font-size: 17px;
}
.slider__item span p {
  font-size: 8px;
  margin-top: -66px;
}
.slider__item img{
width:50px;
height: 50px;
margin-top:-20px;
}
}
@media (max-width: 380px){
.slider {
  width: 200px;
  height:110px;
  margin-top:170px;
  margin-left: 41%;
}

}
@media (max-width: 350px){
.slider {
  width: 200px;
  height:110px;
  margin-top:170px;
  margin-left: 32%;
}

}
@media (max-width: 320px){
.slider {
  width: 170px;
  height:110px;
  margin-top:170px;
  margin-left: 30%;
}
.slider__item p {
  font-size: 10px;
  margin-top:0;
  margin-left:0;
  
}
.slider__item h3{
font-size: 12px;
  
}
.slider__item h4{
  font-size: 18px;
}
.slider__item span p {
  font-size: 7px;
  margin-top: -66px;
}
.slider__item img{
width:50px;
height: 50px;
margin-top:-20px;
  
}

}
